body{
    background-color: black !important;
    color: white !important;
}

.navtry .active{
    background-color: transparent !important;
    color: white !important;
    transform: scale(130%);
    -webkit-transform: scale(130%);
    -moz-transform: scale(130%);
    -ms-transform: scale(130%);
    -o-transform: scale(130%);
}

#movie-tab.active ,#tv-series-tab.active,#actors-tab.active{
    background-color: #dc3545 !important;
    text-transform: uppercase !important;
    transform: scale(110%);
    -webkit-transform: scale(110%);
    -moz-transform: scale(110%);
    -ms-transform: scale(110%);
    -o-transform: scale(110%);
}
.pop,.genSer{
    background-color: rgb(10, 10, 10);
}
.tit:hover{
    text-decoration: underline;
}
/* .homeTrend{
    height: 100%;
    background-color: #dc3545;
} */
/*.homeTrend:hover*/
.pop:hover{
    box-shadow: 0 4px 8px 0 rgba(220, 53, 69,2), 0 6px 20px 0 rgba(220, 53, 69,.19);
}
.darkBG{
    background-color: #212529 !important;
}
.seeBtn{
    cursor: pointer;
}
.seas{
    cursor: pointer;
}

.sideBar:hover{ 
    background-color: #212529 !important;
    cursor: pointer;

}
.sideBar.active{
    background-color: white !important;
}
.gen{
    cursor: pointer;
}
.sel .closeIcon{
    right: 5%;
    top: -10%;
}

.favBtn{
    width: fit-content;
    /* background-color:#dc3545 ; */
}

/* nav */

.navigationButtons {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    list-style: none;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 10px 0;
}
   
  .navigationButtons a {
    padding: 10px;
    margin: 5px ;
    text-decoration: none;
    border-radius: 5px;
    border: 1px solid rgb(220,53,69)red;
    color: rgb(220,53,69);
    cursor: pointer;
    margin-bottom: 15px;
  }
   
  .navigationButtons a:hover {
    color: white;
    background-color: rgb(220,53,69);
  }
   
  .navigationActive a {
    color: white;
    background-color: rgb(220,53,69);

  }
   
  .navigationDisabled a {
    color: white;
    background-color: rgb(220,53,69);
  }


  /*  */

.overSlider{
    background-color: rgba(0, 0, 0,.5) !important;
    position: absolute;
    inset: 0;
}
.swipContainer{
    height: 100vh;
}
.moreBtn{
    background-color: red !important;
    color: white !important;
    transition: .3s all;
    -webkit-transition: .3s all;
    -moz-transition: .3s all;
    -ms-transition: .3s all;
    -o-transition: .3s all;
}
.moreBtn:hover{
    box-shadow: 0 4px 8px 0 rgba(250, 0, 0,2), 0 6px 20px 0 rgba(255, 0, 0,.19);

}
@media (max-width: 767.98px) { 
    .swipRow{
        display: flex !important;
        flex-direction: row !important;
        justify-content: center;
    }
    .swipRow .col-sm-7 {
        width: 100%;
    }
    .swipRow .col-sm-5{
        display: none;
    }

 }


  